# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Quick Navigate'
      'submenu': [
        {
          'label': 'Navigate History'
          'command': 'quick-navigate:toggle'
        }
      ]
    ]
  }
]
